<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

        <label for="name">Arthur</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name='name' #name="ngModel"
          required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Name is Required</p>
        </div>


      </div>
      <div class="form-group">

        <label for="description">Quote</label>
        <textarea class="form-control" id="description" rows="4" required [(ngModel)]="newQuote.Description" name='description'
          #description="ngModel"></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <p> Name is Required</p>
        </div>

      </div>
      <div class="form-group">
        <label for="complete">Completion</label>
        <input class='form-control' type='date' id="complete" required [(ngModel)]="newQuote.completeDate" name='completeDate'
          #completeDate="ngModel">
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p> Quote is Required</p>
        </div>

      </div>
      <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>